
/* hauptbereich */
#hauptteil {
	/* width: 1080px;  */
	
	max-width: 1080px;
	background-size: 1080px; 

	height: 600px;  
	margin: 0 auto; 
}

.rel_modell {
	max-width: 1080px;
	 height: 600px;
	padding-top: 0.5em;
	
	overflow: scroll;
}

/* Bildschirmbreite maximal 500px*/
@media screen and (max-width: 650px) {
#hauptteil {
	width: 540px;
	height: 300px;
	/* background: url(../bilder/hintergrund_informationen.jpg) 100%; */

}

.rel_modell {
	height: 300px;
	padding-top: 0.5em;
	
	overflow: scroll;
}
}

