
/* hauptbereich */
#hauptteil {
	
	background: url(../bilder/hintergrund_rezepte.jpg) 100%; 

}


#hauptteil_schriftarten {
	
	width: 1080px;
	background-size: 1080px; 
	height: 600px;
	margin: 0 auto; 
	font-size: 50px;
	
}

#scharfgestochen {
	position: relative;
	top: 185px;
	left: 100px;
	width: 1080px;
	height: 30px;
	color:#000000;
	/* background-color:#ffffff; */
	text-shadow:2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
	}	
	
span.pos {
	position: absolute;
	top: 8px;
	left: 30px;
	
	}